<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <ul>
        <li v-for="fruta in frutas_id" :key="fruta">
          {{fruta.id}} - {{fruta.nombre}}
          <ul>
            <li v-for="(pais, index) in fruta.pais" :key="index">
              {{pais.nombre_pais}}
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
      const { createApp } = Vue;

      createApp({
        data() {
          return {
            nombre: "",
            frutas: ["manzana", "pera", "piña"],
            frutas_id: [
              {
                id: 1,
                nombre: "manzana",
                pais: [
                  {
                    id: 1,
                    nombre_pais: "mexico",
                  },
                  {
                    id: 2,
                    nombre_pais: "guatemala",
                  },
                ],
              },
              {
                id: 2,
                nombre: "pera",
                pais: [
                  {
                    id: 3,
                    nombre_pais: "honduras",
                  },
                  {
                    id: 4,
                    nombre_pais: "salvador",
                  },
                ],
              },
              {
                id: 3,
                nombre: "piña",
                pais: [
                  {
                    id: 5,
                    nombre_pais: "mexico",
                  },
                  {
                    id: 6,
                    nombre_pais: "paraguay",
                  },
                ],
              },
            ],
          };
        },
      }).mount("#app");
    </script>
  </body>
</html>
